.wrapper {
    display: flex;
    flex-direction: column;

    .product-list {
        width: 90%;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(11.875em, 1fr));
        grid-gap: 10px;
        margin: 20px 0;
    }
}
